https://www.perplexity.ai/search/b99dd1ac-2d40-4f7d-ba29-2972671abf18

In [4]:
import numpy as np
np.random.seed(12)
scores=np.random.randint(50,101,size=(50,5))
scores

array([[ 61,  77,  56,  99,  52],
       [ 53,  53,  62,  98,  72],
       [ 99,  55,  63,  75,  84],
       [ 61,  60,  50,  90,  62],
       [ 63,  68,  75,  85,  86],
       [ 85,  83,  80,  82,  68],
       [ 72, 100,  66,  70,  56],
       [ 95,  59,  95,  80,  98],
       [ 82,  96,  77,  75,  74],
       [ 65,  75,  83,  54,  82],
       [ 54,  51,  93,  94,  87],
       [ 61,  54,  61,  93,  97],
       [ 82,  92,  56,  56,  95],
       [ 53,  52,  78,  60,  70],
       [ 85,  70,  93,  95,  83],
       [ 70,  79,  91,  55,  93],
       [ 82,  93,  68,  95,  56],
       [100,  77,  84,  88,  86],
       [ 50,  98,  87,  70,  66],
       [ 53,  95,  73,  88,  97],
       [ 83,  54,  75,  94,  72],
       [ 55,  92,  59,  77,  78],
       [ 52,  54,  98,  94,  54],
       [ 85,  57,  80,  99,  86],
       [ 96,  60,  62,  69,  58],
       [ 76,  58,  72,  91,  64],
       [ 54,  75,  65,  54,  83],
       [ 78,  70,  67,  76,  93],
       [ 54,  77,  69, 100,  74],
       [ 93,  94,  79,  50,  83],
       [ 54,  81,  88,  87,  70],
       [ 52,  76,  60,  82,  81],
       [ 99,  84,  60, 100,  66],
       [ 67,  70,  92,  89,  89],
       [ 80,  67,  56,  67,  53],
       [ 65,  50,  83,  94,  95],
       [ 70,  76,  90,  58,  74],
       [ 58,  65,  62,  97,  69],
       [ 91,  64,  80,  93,  65],
       [ 64,  55,  51,  65,  72],
       [ 68,  69,  78,  67,  75],
       [ 79,  80,  69,  52,  84],
       [ 97,  96,  58,  91,  87],
       [ 51,  86,  63,  66,  96],
       [ 79,  90,  67,  86,  60],
       [ 52, 100,  65,  80,  86],
       [ 82,  74,  55,  84,  76],
       [ 54,  80,  73,  79,  82],
       [ 77,  52,  62,  54,  72],
       [ 88,  79, 100,  73, 100]], dtype=int32)

In [8]:
import pandas as pd
df=pd.DataFrame(scores,columns=["國文", "英文", "數學", "生物", "物理"],index=[f"學生{x}" for x in range(1,51)])
type(df)

pandas.core.frame.DataFrame

In [9]:
[x**2 for x in range(10) if x < 4]

[0, 1, 4, 9]

In [10]:
df.columns.name = "科目"
df.index.name = "姓名"
df

科目     國文   英文   數學   生物   物理
姓名
學生1    61   77   56   99   52
學生2    53   53   62   98   72
學生3    99   55   63   75   84
學生4    61   60   50   90   62
學生5    63   68   75   85   86
學生6    85   83   80   82   68
學生7    72  100   66   70   56
學生8    95   59   95   80   98
學生9    82   96   77   75   74
學生10   65   75   83   54   82
學生11   54   51   93   94   87
學生12   61   54   61   93   97
學生13   82   92   56   56   95
學生14   53   52   78   60   70
學生15   85   70   93   95   83
學生16   70   79   91   55   93
學生17   82   93   68   95   56
學生18  100   77   84   88   86
學生19   50   98   87   70   66
學生20   53   95   73   88   97
學生21   83   54   75   94   72
學生22   55   92   59   77   78
學生23   52   54   98   94   54
學生24   85   57   80   99   86
學生25   96   60   62   69   58
學生26   76   58   72   91   64
學生27   54   75   65   54   83
學生28   78   70   67   76   93
學生29   54   77   69  100   74
學生30   93   94   79   50   83
學生31   54   81   88   87   70
學生32   52   76   60   82   81
學生33   99   84   60  100   66
學生34   67   70   92   89   89
學生35   80   67   56   67   53
學生36   65   50   83   94   95
學生37   70   76   90   58   74
學生38   58   65   62   97   69
學生39   91   64   80   93   65
學生40   64   55   51   65   72
學生41   68   69   78   67   75
學生42   79   80   69   52   84
學生43   97   96   58   91   87
學生44   51   86   63   66   96
學生45   79   90   67   86   60
學生46   52  100   65   80   86
學生47   82   74   55   84   76
學生48   54   80   73   79   82
學生49   77   52   62   54   72
學生50   88   79  100   73  100

In [11]:
sum_series = df['國文'] + df['英文'] + df['數學'] + df['生物'] + df['物理']
average_series=sum_series/5
average_series

姓名
學生1     69.0
學生2     67.6
學生3     75.2
學生4     64.6
學生5     75.4
學生6     79.6
學生7     72.8
學生8     85.4
學生9     80.8
學生10    71.8
學生11    75.8
學生12    73.2
學生13    76.2
學生14    62.6
學生15    85.2
學生16    77.6
學生17    78.8
學生18    87.0
學生19    74.2
學生20    81.2
學生21    75.6
學生22    72.2
學生23    70.4
學生24    81.4
學生25    69.0
學生26    72.2
學生27    66.2
學生28    76.8
學生29    74.8
學生30    79.8
學生31    76.0
學生32    70.2
學生33    81.8
學生34    81.4
學生35    64.6
學生36    77.4
學生37    73.6
學生38    70.2
學生39    78.6
學生40    61.4
學生41    71.4
學生42    72.8
學生43    85.8
學生44    72.4
學生45    76.4
學生46    76.6
學生47    74.2
學生48    73.6
學生49    63.4
學生50    88.0
dtype: float64

In [14]:
df['總分'] = sum_series
df["平均"] = average_series
df

科目     國文   英文   數學   生物   物理   總分    平均
姓名
學生1    61   77   56   99   52  345  69.0
學生2    53   53   62   98   72  338  67.6
學生3    99   55   63   75   84  376  75.2
學生4    61   60   50   90   62  323  64.6
學生5    63   68   75   85   86  377  75.4
學生6    85   83   80   82   68  398  79.6
學生7    72  100   66   70   56  364  72.8
學生8    95   59   95   80   98  427  85.4
學生9    82   96   77   75   74  404  80.8
學生10   65   75   83   54   82  359  71.8
學生11   54   51   93   94   87  379  75.8
學生12   61   54   61   93   97  366  73.2
學生13   82   92   56   56   95  381  76.2
學生14   53   52   78   60   70  313  62.6
學生15   85   70   93   95   83  426  85.2
學生16   70   79   91   55   93  388  77.6
學生17   82   93   68   95   56  394  78.8
學生18  100   77   84   88   86  435  87.0
學生19   50   98   87   70   66  371  74.2
學生20   53   95   73   88   97  406  81.2
學生21   83   54   75   94   72  378  75.6
學生22   55   92   59   77   78  361  72.2
學生23   52   54   98   94   54  352  70.4
學生24   85   57   80   99   86  407  81.4
學生25   96   60   62   69   58  345  69.0
學生26   76   58   72   91   64  361  72.2
學生27   54   75   65   54   83  331  66.2
學生28   78   70   67   76   93  384  76.8
學生29   54   77   69  100   74  374  74.8
學生30   93   94   79   50   83  399  79.8
學生31   54   81   88   87   70  380  76.0
學生32   52   76   60   82   81  351  70.2
學生33   99   84   60  100   66  409  81.8
學生34   67   70   92   89   89  407  81.4
學生35   80   67   56   67   53  323  64.6
學生36   65   50   83   94   95  387  77.4
學生37   70   76   90   58   74  368  73.6
學生38   58   65   62   97   69  351  70.2
學生39   91   64   80   93   65  393  78.6
學生40   64   55   51   65   72  307  61.4
學生41   68   69   78   67   75  357  71.4
學生42   79   80   69   52   84  364  72.8
學生43   97   96   58   91   87  429  85.8
學生44   51   86   63   66   96  362  72.4
學生45   79   90   67   86   60  382  76.4
學生46   52  100   65   80   86  383  76.6
學生47   82   74   55   84   76  371  74.2
學生48   54   80   73   79   82  368  73.6
學生49   77   52   62   54   72  317  63.4
學生50   88   79  100   73  100  440  88.0