<a href="https://colab.research.google.com/github/k8e8/LearningPython/blob/main/0510/0510%E4%B8%8B%E5%8D%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#list
for i in [10,21,45,76,101]:
  print(i)

10
21
45
76
101

In [3]:
#tuple
for i in (10,23,66,71,92):
  print(i)

10
23
66
71
92

In [5]:
tall={"Ken":174,"Anna":165,"Joe":170}
tall["Ken"]

174